@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{
	Layout = "Master.cshtml";
}
<form>
    <label for="emailform"></label><input id="emailform" type="email"/>
    <label for="nameform"></label><input id="nameform"  type="text"/>
    <label for="messageform"></label><textarea id="messageform"></textarea>
</form>
